html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }

  body{
    background-color: #094D92;
    color: white;
  }

  #whoWonTheRound {
    margin-bottom: 2em;
  }
  
  #middleText {
    min-height: 18px;
  }

  #text {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

  .box {
    display:flex;
    flex-direction: column;
    align-items: center;
    
  }

  body {
    display: flex;
    flex: 1;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F7F4;
    color: black;
    font-size: 32px;
    width: 200px;
    height: 100px;
    margin: 0.5em;
    border-width: 2px;
    border-color: black;
  }

  button:disabled {
    border-width: 2px;
    border-color: black;
    opacity: 65%;
  }